<div class="container"> 
    <form [formGroup]="form">
        <div class="row">
            <div class="col-lg-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16" (click)="navigate()">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                  </svg>
            </div>
            <div class="col-lg-1 image" >
                <img src="https://www.digikala.com/statics/img/svg/logo.svg" alt="لوگوی دیجی کالا">
            </div>
        </div>
        <div class="row mt-4">
            <h4>کد تاییدراوارد کنید</h4>
        </div>
        <div class="row mt-3">
             <div class="form-group">
             <label for="code">کد تایید برای شماره {{phoneNumber}} پیامک شد </label>
            <input type="text" id="code" class="form-control mt-4" formControlName="code">
           <div  class="alert-danger mt-2" *ngIf="code?.touched && code?.invalid" >
            <div *ngIf="code?.errors?.['checkCode']">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
کد وارد شده اشتباه است 
            </div>
            <div *ngIf="code?.errors?.['required']">
                لطفا این قسمت را خالی نگذارید
            </div>
                
            <div *ngIf="code?.errors?.['pattern']">
 کد باید ۴ رقمی باشد &#x2757;
                            </div>
           </div>
                <div *ngIf="expired">
                دریافت مجدد کد از طریق 
                <a href (click)=again()>پیامک</a>
                </div>
            </div>
    
    </div>    
    <div class="row mt-2" *ngIf="try">
        <div>  {{ minutes }}:{{ seconds }}
            مانده تا دریافت مجدد 
            <a href="#">کد</a>
        </div>
    </div>
    <div class="row mt-4">
<button class="btn btn-danger" (click)="productNavigate()"> تایید</button>
    </div>

    </form>
</div>



