<div class="container">
    <form [formGroup]="form">
        <div class="row">
            <div class="col align-self-center image">
                <img src="https://www.digikala.com/statics/img/svg/logo.svg" alt="لوگوی دیجی کالا" (click)="productNavigate()">
            </div>
        </div>
        <div class="row">
            <h1>ورود | ثبت نام</h1>
        </div>
        <div class="row mt-5">
            <p>سلام!</p>
        </div>
        <div class="row">
            <div  class="form-group">
                <label for="phone"> لطفا شماره موبایل یا ایمیل خود را وارد کنید </label>
                <input type="text" id="phone" class="form-control mt-4" formControlName="phone" [(ngModel)]="phoneNumber">
                <div class="alert-danger mt-2" *ngIf="phone?.touched && phone?.invalid">
                    <p *ngIf="phone?.errors?.['required']">
                        لطفا این قسمت را خالی نگذارید
                    </p>
                    <div *ngIf="phone?.errors?.['pattern']">
                    لطفا پترن را رعایت کنید &#x2757;
                     </div>
                     <div *ngIf="phone?.errors?.['checkPhone']">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                          </svg> شماره موبایل نادرست است
                     </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <button class="btn btn-danger" (click)="submit()" [disabled]="form.untouched">ورود</button>
        </div>
        <div class="row mt-4">
        <p>
            ورود شما به معنی پذیرش 
            <a href="#">شرایط</a>
            و
            <a href="#">قوانین حریم خصوصی</a> 
            است
        </p>
        </div>
    </form>
</div>






    
